<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525740171180-ncen0gifpjkbof5cncnue6gb3i6ifkmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525740171180-ncen0gifpjkbof5cncnue6gb3i6ifkmc</string>
	<key>API_KEY</key>
	<string>AIzaSyBhoGSrS0XkyGpYv9Wj-TttlN7tOD7UR5E</string>
	<key>GCM_SENDER_ID</key>
	<string>525740171180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuelfolledo.FuFight</string>
	<key>PROJECT_ID</key>
	<string>fufight-51d75</string>
	<key>STORAGE_BUCKET</key>
	<string>fufight-51d75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525740171180:ios:2d60f7fa58ef504560a409</string>
</dict>
</plist>